@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 14px 20px 2px rgba(0, 0, 0, .05);
}

.logo {
    margin-left: 135px;
}

.logo img{
    width: 100px;
}

.nav-items { 
    display: flex;
    align-items: center;
    margin-right: 135px;
}

.nav-items a{
    text-decoration: none;
    color: #3d4152;
    font-size: 16px;
    margin-right: 60px;
    font-weight: 500;
}

.nav-items img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 150px;
    gap: 35px;
}

.card {
    width: 250px;
    margin-top: 10px;
    border: 1px solid rgb(117, 99, 99);
    border-radius: 15px;
}

.res-image img{
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
}

.card-info {
    padding-left: 10px;
    font-weight: 500;
    color: rgb(40, 44, 63);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}


.name {
    color: rgba(2, 6, 12, 0.75);
    font-size: 18px;
    font-weight: 700;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.rating-and-time {
    display: flex;
    color: rgba(2, 6, 12, 0.75);
    font-size: 18px;
    font-weight: 700;
}

.rating, .time {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.location {
    display: flex;
    align-items: center;
}

.rating-icon, .time-icon, .location-icon {
    width: 20px;
    height: 20px;
    margin-right: 2.8px;
}

.cuisines, .location {
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
